
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
    overflow-y: auto;
}

.container{
    /* border: 2px solid green; */
    position: absolute;
    height: 1461px;
    width: 100%;
    /* left: 4px;
    right: 4px; */
    top: 5px;
    background: #FFFFFF;
    
    
}


.footer{
    /* border: 2px solid red; */
    position: absolute;
    width: 100%;
    height: 390px;
    top: 1468px;
    display: flex;
}
.navbar{
    position: sticky;
    z-index: 10000;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    width:100%;
    /* top: 17px;  */
    top: 0px;
    padding-left: 113px;
    padding-right: 74px;
}
.logo{
    height: 82px;
    width: 98px;
    /* left: 117px;
    top: 53px; */
    /* border-radius: 0px; */
    
    }
.logo a {
        text-decoration: none;

 }
 .logo a img{
        width: 100%;
        height: 100%;
    }

.a-link a{
    margin-right: 72px;
    color: #777C85;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}
#link_team{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    color: #4E5DC0;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.btn{
    width: 165px;
    height: 54px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
    background: #4E5DC0;
    border-radius: 5px;
    border: none;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    filter: drop-shadow(0 0 0.75rem #4E5DC0);
  
}


.left_side-1{
width: 500px;
flex-shrink: 2;
}
.right_side-1{
width: 500px;
}
.container_content{
    /* border: 1px solid red; */
    height:1355px;
    position: relative;
    top: 20px;
}

.content-1{
    /* width: 1298px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: 87px;
    margin: 0px 112px 0px 112px;

}
.right_side-1 img{
    width: 100%;
}
.left_side-1 h2{
  
font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 45px;
/* identical to box height */


color: #16171C;
font-stretch: 100;
font-variation-settings: 'GRAD' 122, 'slnt' 0, 'XTRA' 603, 'XOPQ' 96, 'YOPQ' 100, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;

}

.left_side-1 hr{
    position: relative;
width: 280px;
height: 0px;
left:0px;
top: 9px;

border: 1px solid rgba(0, 0, 0, 0.368);

}

.left_side-1 p{
    position: relative;
    /* width: 573px; */
    /* height: 272px; */
    /* left: -5px; */
    top: 37px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    /* or 170% */
    color: #000000;
    opacity: 0.5;
}




.content-2{
    
    top: 322px;
    /* width: 1298px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    margin: 0px 112px 0px 112px;
}

.left_side-2 {
    width: 500px;
    height: 480px;
}
.right_side-2 {
    width: 490px;
    height: 480px;
}
.left_side-2 img{
    width:100%;
    height: 100%;
}

.right_side-2 h2{
    font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 45px;
/* identical to box height */
color: #16171C;
font-stretch: 100;
font-variation-settings: 'GRAD' 122, 'slnt' 0, 'XTRA' 603, 'XOPQ' 96, 'YOPQ' 100, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}

.right_side-2 hr{
    position: relative;
    width: 280px;
    height: 0px;
    left:0px;
    top: 9px;
    
    border: 1px solid rgba(0, 0, 0, 0.368);
}

.right_side-2 p{
    position: relative;
    /* width: 573px; */
    /* height: 272px; */
    /* left: -5px; */
    top: 37px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    /* or 170% */
    color: #000000;
    opacity: 0.5;
}


.box{
    width: 25%;
    height: 100%;
    /* border:2px solid black; */
    position: relative;
}

.box-1 > a {
    position: absolute;
    top: 85px;
    left: 80px;
}
#policy{
    position: absolute;
    top: 213px;
    left: 70px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */

letter-spacing: 3px;
text-decoration-line: underline;
text-transform: uppercase;

color: #4E5DC0;

}
.box-1 p{
    position: absolute;
    top: 259px;
    left: 70px;
    
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
/* or 200% */


color: #999999;
}

.box-2{
    padding-left: 5px;
}
.box-2 h2{
    position:absolute;
    top: 53px;
    
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */

letter-spacing: 3px;
text-transform: uppercase;

color: #4E5DC0;

}
.box-2 p{
    position:absolute;
    top: 99px;
    
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
/* or 200% */


color: #999999;

}
.box-2 h4{
    position:absolute;
    top: 235px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */

letter-spacing: 3px;
text-transform: uppercase;

color: #4E5DC0;

}
.box-2 a{
    position:absolute;
    top: 281px;
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */


color: #999999;
}

.box-3{
padding-left: 122px;
}

.footer_links{
    position:absolute;
    top: 99px;
    display: flex;
    flex-direction: column;
   
 
}
.footer_links a{
    text-decoration: none;
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
/* or 200% */


color: #999999;
}

.box-3 h2{
    position:absolute;
    top: 53px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */

letter-spacing: 3px;
text-transform: uppercase;

color: #4E5DC0;

}

.box-4-oval{
    /* border: 2px  solid brown; */
    height:48px;
    width:160px;
    position: absolute;
    top: 49px;
    left: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.bx{
    width: 48px;
    /* border:1px solid #4E5DC0; */
    height: 48px;
    border-radius: 50%;
    background: #4E5DC0;
    

}
.bx1{
    padding: 15px 0px 0px 18px;
}
.bx2{
    padding: 16px 0px 0px 15px;
}
.bx3{
    padding: 15px 0px 0px 15px;
}



.bx1 img{
    width: 9.33px;
height: 16px;
}
.bx2 img{
    width: 16px;
height: 13px;
}

.bx3 img{
    width: 16px;
 height: 16px;
}